.navbar.navbar-static-top {
  background-color: #006442 !important;
}

.btn-primary {
  background-color: #FAA945 !important;
  border: 2px solid #FAA945;
  border-radius: 0px !important;
}

.btn-primary:hover {
  background-color: #CA6924 !important;
  border: 2px solid #CA6924 !important;
  border-radius: 0px !important;
}
.btn-primary a:hover {
  background-color: #CA6924 !important;
  border: 2px solid #CA6924 !important;
  border-radius: 0px !important;
}


.navbar-brand {
  color: white !important;
  margin-top: 10px !important;
}

a.btn.btn-primary {
  background-color: white;
}